---
title: Help page
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link rel="stylesheet" href="/style.min.css">
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{id}}</p>
  </body>
</html>
