<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link rel="stylesheet" href="/style.min.css">
  </head>
  <body>
    <em>Rendered with Liquid!</em>
    {{ body }}{{ content }}

    <p>Today, {{ "now" | date: '%Y' }}</p>
  </body>
</html>
